@import '../../styles/colors.scss';

.button {
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: $blue;
    color: $white;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
        margin-right: 8px;
    }

    &.outlined {
        background: $white;
        border: 1px solid $blue;
        color: $blue;
    }

    &:not(:disabled):hover {
        filter: brightness(0.9);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &.cancel {
        color: $gray-medium;
        background: $gray-light;
    }

    &.delete {
        color: $white;
        background: $danger;
    }

    &.switcher {
        padding: 0 8px;
        height: 36px;

        img {
            height: 20px;
            margin: 0;
        }
    }
}

.dark .button {
    &.outlined {
        background: $shadow-bg-dark;
    }
}