// Global Colors
$blue: #485BFF;
$danger: #FF3A3A;
$pink: #E53FA9;
$white: #fff;
$white-details: #fefefe;
$gray-light: #DBDCDD;
$gray-medium: #A8A8B3;

// Light Theme
$bg-theme-light: #f8f8f8;
$color-theme-light: #29292e;

// Dark Theme
$bg-theme-dark: #29262A;
$modal-gb-dark: #2A282B;
$shadow-bg-dark: #343135;
$color-theme-dark: #f2f2f2;